
.item-top{
    padding: 10px 0px 5px 10px;
    display: grid;
    grid-template-columns:10% 50% 40%;

}
.item-title{
    font-weight: bold;
}

.item-spending{
    background-color:white;
    width: 70%;
    padding-left: 85px;
    border-radius: 15px;
    border: 5px solid;
    border-color: #892ef1 #9c73ec #afaff1;
}
